@import "skeleton-css/skeleton.css";

header {
  height: 180px;
  text-align: center;
  padding-top: 25%;
  font-family: arial;
}




            /* Added by Kevin for demonstration purposes only */
            .clothing {
              width: 250px;
              height: 250px;
            }

            /* Added by Kevin for demonstration purposes only */
            .body_part {
              margin: auto;
              width: 25%;
            }



