<div class="row">
  <% clothing.each do |item| %>
    <div class="one-third column box"><img class="u-max-full-width" src='/images/icons/<%=item%>.svg' alt='<%=item%>.svg'></div>
  <% end %>
</div> <!-- end row -->