<div class="container">
  <header>
    <h1>Where are you?</h1>
    <p><a href="#" id="gps_link">Click here to use your device location</a></p>
    <p>or</p>
  </header>

  <div class="row">
    <div class="three columns">.</div>
    <div class="six columns">

      <form id="search-bar" action="/location" method="post" enctype="multipart/form-data">
        <label for="LocationInput">City, Country or Postal Code</label>
        <input class="u-full-width" type="text" name="city_country" placeholder="e.g. Toronto, Canada" id="f_elem_city"/>
      </form>
    </div>
    <div class="three columns"></div>
  </div>
</div>