  <script>
    var BV;
    $(function() {
      // initialize BigVideo
      BV = new $.BigVideo();
      BV.init();
      BV.show('/vid/clouds.mp4',{ambient:true});
    });
  </script>


<div class="container">

  <section class="header">
    <h2 class="title">Weather for &nbsp;<span id="humans">Humans</span></h2>
  </section>

    <div class="twelve columns">    

      <form id="search-bar" action="/location" method="post" enctype="multipart/form-data">
        <label for="LocationInput">Tell us where you are...</label>      
        <input class="u-full-width" type="text" name="city_country" placeholder="e.g. Toronto, Canada" id="f_elem_city"/>
        <p><a href="#" id="gps_link">...or click here to use your device location</a></p>

      </form>

    </div>

  </div>
</div>