<script>
  $(document).ready(function() {
    var BV;
    $(function() {
      // initialize BigVideo
      BV = new $.BigVideo();
      BV.init();
      if (Modernizr.touch) {
        BV.show('/vid/clouds.jpg');
      } else {
        BV.show('/vid/clouds.mp4',{ambient:true});
        BV.getPlayer().on('durationchange',function() {
          $('#big-video-wrap').fadeIn();
        });
      }
    });
  });
</script>

<!-- until i can get bigvideo to show this jpg i'm keeping this here -josh -->
  <style>
    body {
      background-image: url("/vid/clouds.jpg");
    }
  </style>

<div class="container">

  <section class="main-header">
    <h2 class="title">Weather for &nbsp;<span id="humans">Humans</span></h2>
  </section>

    <div class="twelve columns">    

      <form id="search-bar" action="/location" method="post" enctype="multipart/form-data">
        <label for="LocationInput">Tell us where you are...</label>      
        <input class="u-full-width" type="text" name="city_country" placeholder="e.g. Toronto, Canada" id="f_elem_city"/>
        <p><a href="#" id="gps_link">...or click here to use your device location</a></p>

      </form>

    </div>

  </div>
</div>