<p>Where are you?</p>
<form method='post' action='/location'>
  <input type="text" name="city_country"><input type='submit' value='go!'>
</form>
<p><a href="#" id="gps_link">or click here to tell us your location</a></p>
