<script type="text/javascript">
$(document).ready(function() {
  city_country = $("div[data-city-country]").attr("data-city-country");
  console.log(city_country);
  $.get("/location/"+city_country+"/data", function(data) {
    M.init(data);

    V.update();

    $('.arrow').click(function(){
      M.nextDay();
      V.update();
    });

    $('.leftarrow').click(function(){
      M.nextCycle();
      V.update();
    });
  });
});

</script>
<div data-city-country="<%=@city_country%>"></div>
<div class="container">
  <table>
  <tbody>
    <tr>
      <td></td>
      <td><img class="arrow" src="/images/icons/arrow-up-with-split.svg"/></td>
      <td></td>
    </tr>
    <tr>
      <td><img class="leftarrow" src="/images/icons/arrow-left-with-split.svg"/></td>
      <td>
        <div class="day"></div>
        <br>
        <div class="time"></div>
      </td>
      <td><img class="rightarrow" src="/images/icons/arrow-right-with-split.svg"/></td>
    </tr>
    <tr>
      <td></td><td><img class="arrow" src="/images/icons/arrow-down-with-split.svg"/></td><td></td>
    </tr>
    </tbody>
  </table>

  <section>

    <div class="row">
      <div class="twelve column u-full-width timetext">Right now, you need...</div>
    </div>


    <div class="clothing">
    </div>

  </section>

<div class="row">
  <div class="twelve column u-full-width footer"></div>
</div>
</div>
