<div class="container">
  <%= @clothes %>
 

  <div class="row">
    <div class="one column"></div>
    <div class="one column"></div>
    <div class="one column"></div>
    <div class="one column"></div>
  </div>
</div>
